<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <head th:insert="components/header :: header"></head>
    <link rel="stylesheet" href="/styles/items.css">

    <title>Spring Project - Edit Items</title>
</head>
<body>
    <body th:insert="components/header :: navbar"></body>
    <main class="container">
        <h1 class="edit-title">
            Items - Edit 
            <span th:text='${item.name + " - " + item.id}'></span>
        </h1>
        <form 
            id="form-edit"
            th:attr="action=${'/items/' + item.id}"
            th:object="${item}"
            method="post"
        >
            <div class="input-field">
                <label for="name">Name</label>
                <input
                    class="red-input" 
                    type="text" 
                    th:field="*{name}" 
                />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
            </div>

            <div class="input-field">
                <label for="description">Description</label>
                <input 
                    type="text" 
                    th:field="*{description}" 
                    class="red-input"
                />
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>
            </div>
            
            <div class="input-field pool-field red-select">
                <select id="pool" th:field="*{pool}" class="red-input">
                    <option 
                        th:each="pools : ${pools}"
                        th:value="${pools.name}" 
                        th:text="${pools}"
                    ></option>
                </select>
                <span th:if="${#fields.hasErrors('pool')}" th:errors="*{pool}"></span><br/>
            </div>

            <div class="input-field">
                <label for="quality">Quality</label>
                <input 
                    class="red-input"
                    type="number" 
                    th:field="*{quality}" 
                    min="0" 
                    max="4"
                />
                <span th:if="${#fields.hasErrors('quality')}" th:errors="*{quality}"></span><br/>
            </div>

            <div class="input-field">
                <label for="charges">Charges</label>
                <input 
                    class="red-input"
                    type="number" 
                    th:field="*{charges}" 
                    min="0" 
                    max="6"
                />
                <span th:if="${#fields.hasErrors('charges')}" th:errors="*{charges}"></span><br/> 
            </div>

            <div class="input-field">
                <label for="stars">Stars</label>
                <input 
                    class="red-input"
                    type="number" 
                    th:field="*{stars}" 
                    step="0.1" 
                    min="0" 
                    max="5" 
                />
                <span th:if="${#fields.hasErrors('stars')}" th:errors="*{stars}"></span><br/>   
            </div>
            <div class="center-align submit-field">
                <a href="/items" class="btn grey btn-back">
                    Back
                </a>
                <button 
                    class="btn red darken-2 btn-submit"
                    type="submit"
                >
                    Submit
                </button>
            </div>
        </form>
    </main>

    <script src="/javascript/items.js"></script>
    <body th:insert="components/footer :: footer"></body>
</body>
</html>